.FormContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.FormContainer{
  width: 75%;
  height: auto;
  gap: 15px;
}

.Title{
  font-size: 2.9rem;
  font-weight: 700;
  color: var(--secondary-color);
}


/* Media queries for mid-size devices (Tablet) */
@media screen
and (min-device-width: 768px) 
and (max-device-width: 1024px) {
  .FormContainer{
    width: 65%;
  }
  .Title{
    font-size: 2.9rem;
  }  
}

/* Media queries for large-size devices (Laptop) */
@media screen
and (min-device-width: 1200px) {
  .FormContainer{
    width: 40%;
  }  
}

/* Media queries for large-size devices (Desktop) */
@media screen
and (min-device-width: 1600px) {
  .FormContainer{
    width: 30%;
  }
}
